<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <%= "My name is #{params[:name]}, and I love #{params[:favorite_food]}"%>
  </body>
</html>